* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(120, 6%, 76%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*css style for header navigation*/

header {
  padding: 20px;
  background-color: #2a607c;
  color: chartreuse;
}

header h1 {
  display: inline;
  font-size: 48px;
  font-weight: bold;
  color: rgb(51, 0, 255);
}

header a {
  color: #e58a8a;
  text-decoration: none;
}

header nav {
  float: right;
  margin: 7px 0;
}

nav ul li a:hover {
  color: red;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  }

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

section {
  padding: 60px;
}

/*css style for hero section*/
.hero {
  height: 600px;
    margin-bottom: 25px;
  color: #1ecf2f;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  margin: 0.625rem;
    color: rgb(26, 20, 7);
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero img {
  float: left;
  width: 40%;
  height: 40%;
  border-radius: 50%;
   margin: 0;
  max-width: 250px;
  }

.hero-content button {
  color: #fce138;
  background-color: #02080b;
  border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
  
}

.hero-content button:hover {
  color: red;
  border: 1px solid #db7598;
}

/*css style for about-me section*/
.about-me {
   text-align: center;
}

.about-me p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/*css style for work section*/
.work {
  background: white;
  background-size: cover;
  width: 900px;
  margin: 0 auto 30px auto;
  color: #36300b;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  
}
.work > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  display: grid;
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}

.work > div:hover {
  color: red;
  border: 1px solid #db7598;
}

.work h2 {
  text-align: center;
}

/*css style for work-div-contents section*/
.surf-report {
  background-image: url("../images/bg6.jpg");
    padding: 1rem;
    flex-direction: row;
}

.led-wall {
  background-image: url("../images/bg1.jpg");
  padding: 1rem;
}

.calculator {
  background-image: url("../images/bg3.jpg");
  padding: 1rem;
}

.pastel-puzzles {
  background-image: url("../images/bg7.jpg");
  padding: 1rem;
}

.run-buddy {
  background-image: url("../images/runbuddy.jpg");
  padding: 1rem;
}

/*css style for contact section*/
.contact{
  display: inline;
  font-weight: bolder;
  }

   a:hover{
    color: red;
    border: 1px solid #db7598;
  }

/*css style for footer section*/
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
  display: inline;
  text-align: center;
}